* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: Microsoft JhengHei, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4ABDAC;
    border-radius: 40px 40px 0 0;
}

#JackTsai {
    display: block;
    width: 80%;
    padding: 8px;
    margin: auto;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.5);
}

#headerRight {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.header_hr {
    border: 1px solid;
    width: 98%;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    margin-right: 5px;
}

.icon2 {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: #F7B733;
    height: 50px;
}

#navbar {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
}

#navbar li {
    width: 80%;
    line-height: 50px;
    cursor: pointer;
}

#navbar li a {
    color: white;
    text-decoration: none;

}

.hide {
    display: none;
}

main {
    background-color: rgb(250, 248, 248);
    color: #17345B;
    z-index: 0;
}

/* 首頁文字動畫效果 */
.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 1.6rem;
    text-align: center;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    transform-origin: 0 0;
    color: #FC4A1A;
}

.main_tag {
    display: inline-block;
    margin-bottom: 0;
    padding: 10px;
    background-color: #FC4A1A;
    color: white;
    border-radius: 20px 20px 0 0;
    font-size: 1.6rem;
    font-weight: bold;
}

.main_container {
    margin-top: 0;
    background-color: #ffffff;
    border: 2px solid #FC4A1A;
    border-radius: 0 20px 20px 20px;
    padding: 15px;
}

#personal {
    padding: 50px 0 50px 0;
    font-size: 1rem;
}

#motto {
    font-size: 1.6rem;
    font-weight: bold;
    color: #FC4A1A;
    margin-bottom: 0;
}

.personal_tag {
    font-weight: bold;
    color: #FC4A1A;
}

#book #project {
    font-size: 1rem;
}

#book_img {
    display: block;
    width: 60%;
    margin: auto;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.card {
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;

}

.card-title {
    /* color: #F7B733; */
    color: #FC4A1A;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.card-body {
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(250, 248, 248);
    background-color: rgb(245, 243, 243);
}

.card-img-top {
    border-radius: 20px 20px 0px 0px;
}

.title_span {
    font-size: 1rem;
}

.content_span {
    font-weight: bold;
    color: #FC4A1A;
}

.project_link {
    font-weight: bold;
    color: #F7B733;
    float: right;
    cursor: pointer;
}

.project_link:hover {
    color: #FC4A1A;
}

#skill {
    font-size: 0.85rem;
    padding: 50px 0px 50px 0px;
}

.skill_title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FC4A1A;
    text-align: center;
}

hr {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
}

footer {
    background-color: #4ABDAC;
    color: white;
    font-size: 0.8rem;
    border-radius: 0 0 40px 40px;
}

@media screen and (max-width: 991.5px) {
    html {
        font-size: 15px;
    }

    #JackTsai {
        width: 80%;
    }

    .ml10 {
        font-size: 1.4rem;
    }

    #book_img {
        width: 25%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    }

    .icon {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin-right: 3px;
    }

    .icon2 {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .t-center {
        text-align: center;
    }

    #JackTsai {
        width: 30%;
    }

    .ml10 {
        font-size: 1.2rem;
    }

    #book_img {
        width: 30%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }

    .icon {
        width: 15px;
        height: 15px;
        border-radius: 3px;
        margin-right: 1px;
    }

    .icon2 {
        width: 15px;
        height: 15px;
    }

    .main_tag {
        border-radius: 10px 10px 0 0;
    }

    .card-body {
        border-radius: 0px 0px 10px 10px;
    }

    .card-img-top {
        border-radius: 10px 10px 0px 0px;
    }

    header {
        border-radius: 25px 25px 0 0;
    }

    footer {
        border-radius: 0 0 25px 25px;
    }
}