* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Microsoft JhengHei, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(68, 224, 222);
}

#JackTsai {
    display: block;
    width: 90%;
    margin: auto;
    padding: 8px;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.5);
}

#headerRight {
    color: white;
    font-weight: bold;
}

h1,
h2,
h5 {
    font-weight: bold;
}

.header_hr {
    border: 1px solid;
    width: 98%;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.icon2 {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

nav {
    background-color: #A8CEDD;
    height: 50px;
}

#navbar {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    color: white;
}

#navbar li {
    width: 80%;
    line-height: 50px;
}

#navbar li a {
    color: white;
    text-decoration: none;

}

#navbar li:hover {
    background-color: #5B85AA;
    border-radius: 8px;
}


main {
    background-color: #F1FFFE;
    color: #17345B;
}

.main_tag {
    display: inline-block;
    margin-bottom: 0;
    padding: 10px;
    background-color: #5B85AA;
    color: white;
    border-radius: 8px 8px 0 0;
}

.main_container {
    margin-top: 0;
    background-color: white;
    border: 2px solid #5B85AA;
    border-radius: 0 10px 10px 10px;
    padding: 15px;
}

#motto {
    font-weight: bold;
    color: #EF476F;
}

.content_text {
    font-size: 17px;
}

.personal_tag {
    font-weight: bold;
    color: #EF476F;
}

#book_img {
    display: block;
    width: 50%;
    margin: auto;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

#book_title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #EF476F;
    margin-bottom: 0;
}

.card {
    color: white;
    border: 1px solid white;
    margin-bottom: 15px;
}

.card-body{
    border-radius: 0px 0px 10px 10px;
    background-color: #5B85AA;
}

.card-img-top {
border-radius: 10px 10px 0px 0px;
}


footer {
    background-color: #47D8D6;
    color: white;
    font-size: 0.8rem;
}